/* aboutPage.css */

body, html {
    height: 100%;
    margin: 0;
    font-family: 'Arial', sans-serif;
    overflow: hidden; /* Taşmayı engellemek için */
}

.about-page {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-image: url('../images/t.png'); /* Arka plan görseli */
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
}

.about-page h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.about-page p {
    font-size: 1.2rem;
    line-height: 1.6;
    max-width: 800px;
    margin: 0 auto;
}
